.main_container {
	margin-top: 80px;
}

.textbox .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 0.25em;
	font-size: 42px;
	font-family: Arial, sans-serif;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-left: 0px;
	margin-top: -1em;
}

.textbox .item.active {
	opacity: 1;
	background: rgba(0, 0, 0, 0.8);
}

.textbox .item.semactive {
	opacity: 1;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.8);
}
.textbox .item.inactive {
	opacity: 0;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.8);
}

.textbox .item a {
	color: white;
}