{% extends "base.html" %}

{% block content %}

<div id="about_titre">

<div id="text_about">thingstream is an open-data & open-source alternative to other internet-of-things time-series datastores.
Running with a high-throughput and secure database backend, thingstream allows for easy storage and retrieval of any numeric timeseries you could want.</div>


<div id="titre_our_philosophy">Our Philosophy

<div id="text_our_philosophy">
We are strongly committed to an open-data & open-source place where objects living on the internet can freely and easily communicate. We believe if your coffee pot is going to join the internet, it should be on your terms, not theirs.</div>

<div id="titre_internet">Who are we?
<div id="text_internet">We are a non-profit organization called "Le Labo Citoyen", and have created thingstream as an open platform for our <a href="http://citoyenscapteurs.net">Citoyens Capteurs</a> initiative.  thingstream allows us to easily store and then use data from our open-hardware pollution sensors, but since this is a generic time-series database, anything that is producing some sort of number can share it with the world by posting it here.</div>

<div id="titre_internet">How do I join?
	<div id="text_internet">we is still in very early beta, and is therefore not yet open to the public.  If you are interested in using or developing thingstream, please contact us: contact <@t> labocitoyen.fr</div>
</div>
</div>
</div>
</div>
<div id="image_about"><img src="static/img/image_about.png" alt="headimage" width="400" style="margin-left: 50px;"/></div>


{% endblock %}